.Presupuestos-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.Prespuestos {
    text-align: center;
    display: grid;
}

.Presupuestos-form {
    display: grid;
    gap: 10px;
}

.Presupuestos-form-group {
    display: grid;
}

.Presupuestos-form label {
    text-transform: uppercase;
    font-weight: 500;
}

.Presupuestos-form input, .Presupuestos-form textarea {
    border-radius: 7px;
    border:none;
    height: 30px;
    padding: 5px 10px;
}

.Presupuestos-form textarea {
    height: auto;
    resize: vertical;
}
.Presupuesto-form-submit {
    width: 100%;
    height:50px;
    background-color: var(--text-color);
    border-radius:7px;
    color: var(--text-color-inverse);
    border: 1px solid var(--theme-color);
}